<h1><%= @uni.name %></h1>

<p>Country : <%= @uni.country %></p>

<ul>
  <li><%= link_to "Edit", edit_uni_path(@uni) %></li>
  <li><%= link_to "Delete", uni_path(@uni),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>